@model _7Element.Models.ViewModels.DonatedTicketsCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Donate</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DonatedTickets.PredsGameId" class="control-label"></label>
                <select asp-for="DonatedTickets.PredsGameId" class="form-control" asp-items="ViewBag.PredsGameId"></select>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfTickets" class="control-label"></label>
                <select asp-for="NumberOfTickets" onchange="CallChangefunc(this)" class="form-control" asp-items="ViewBag.NumberOfTickets"></select>
            </div>
            <div id="container"></div>
            @Html.Hidden("myVar", "0")
            @*@for (int i = 0; i < Int32.Parse(); i++)
            {
                <label asp-for="@Model.Tickets[i].Section" />
                <input asp-for="@Model.Tickets[i].Section" />
                <label asp-for="@Model.Tickets[i].Row" />
                <input asp-for="@Model.Tickets[i].Row" />
                <label asp-for="@Model.Tickets[i].Seat" />
                <input asp-for="@Model.Tickets[i].Seat" />
            }*@
            <div class="form-group">
                <input type="submit" value="Next" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<script>
    function CallChangefunc(obj) {
        const place = document.getElementById("myVar")
        place.value = (obj.options[obj.selectedIndex].text)
        @*const container = getElementById("#container")
        for (i = 0; i < place.value; i++){
            const tickets = @Model.Tickets
            const one = `<label asp-for="${tickets[i].Section}" />`
            container.innerHTML = `${one}`
        }*@
    }
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
