@model _7Element.Models.DonatedTickets

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DonatedTickets</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PredsGame)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PredsGame.PredsGameId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailBody)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailBody)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionComplete)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DonatedTicketsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
