@model _7Element.Models.DonatedTickets

@{
    ViewData["Title"] = "Details";
}

<h1>Donated Tickets Details</h1>

<div>
    <h4>DonatedTickets</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PredsGame.Opponent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PredsGame.Opponent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PredsGame.DateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PredsGame.DateTime)
        </dd>
        <dt class="col-sm-2">
            @if (Model.TransactionComplete == false)
            {
                <button asp-action="Approve" asp-route-id="@Model.DonatedTicketsId">Approve</button>
            }
            else
            {
                <button asp-action="Deny">Deny</button>
            }
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
