@model IEnumerable<_7Element.Models.DonatedTickets>

@{
    ViewData["Title"] = "Index";
}
<h1>Donated Tickets</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PredsGame.Opponent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PredsGame.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionComplete)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PredsGame.Opponent)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.PredsGame.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionComplete)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.DonatedTicketsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DonatedTicketsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
